.LoginContainer {
    background-color: #eaeaea;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginWrapper {
    background-color: aliceblue;
    height: 60vh;
    width: 370px;
}
.Lheading {
    text-align: center;
    margin-left: 18px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(48, 155, 155);
}
.inputcontainer {
    /* background-color: red; */
    margin-top: 50px;

}

.inputwrapper {
    margin: 30px 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 45px;
    background: #eaeaea;
    border-radius: 6px;
}

.inputTxt {
    height: 25px;
    width: 250px;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
    font-size: 16px;
}

.lbtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    margin-top: 20px;
    width: 320px;
    height: 35px;
    border-radius: 6px;
    background-color: rgb(48, 155, 155);
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    
}

.txtContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#linkTxt {
    color: blue;
    margin-left: 5px;
}

.errorText {
    color: red;
   margin-left: 20px;
}